h1 {
  font-family: "Raleway", sans-serif;
  color: #d8d4d6;
  font-size: 36px;
}

h2 {
  font-family: "Raleway", sans-serif;
  color: #a8a6a7;
  font-size: 14px;
}

ul {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 18px;
  top: 0;
  width: 100%;
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #14162b;
  padding: 14px;
}

a {
  color: #c6cecd;
}

li a {
  float: left;
  text-align: center;
  padding: 1px 16px;
  text-decoration: none;
}

a:visited {
  color: #e5a0c3;
  text-decoration: none;
}

li .activeLink {
  color: #c1bfc0;
  text-decoration: none;
}

li a:hover:not(.activeLink) {
  background-color: #876e6e;
  text-decoration: none;
}
